      <%= link_to "User Profile", user_path(@user) %>
     <h1 class ="center">Welcome</h1>
  
  <%= @products.each do |product| %>

   <button><%= link_to product.title, '#'  %></button>

   <% end %>
    