<h1 class= "center">Tables</h1>
 
<div class="center">
 <% @table.each do |table| %>

 <button class="waves-effect waves-light btn-large purple">  <%= link_to "Table#{table.tabel_num}", table_path(table.id) %></button>
     
 <% end %>
 
</div>
<div class= "center">
<%= link_to 'Back', user_path(@user) %> |
<%= link_to 'New Table', new_table_path %> 
</div>


